.about {
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px var(--border-color);
  padding: 1rem;
  border: 1px solid var(--border-color);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 30rem;
}

.section {
  margin-bottom: 6rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 45rem;
}

.summary {
  font-size: 2rem;
  line-height: 2.333rem;
}

.big {
  font-family: var(--header-font);
  font-weight: normal;
}

.mid {
  font-family: var(--header-font);
  font-weight: normal;
}

.chart-header {
  margin-top: 2rem;
  color: var(--light);
  font-weight: bold;
}

.highlight {
}
