@font-face {
  font-family: "Bevan";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Bevan-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Pontano Sans";
  font-style: light;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/PontanoSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Pontano Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/PontanoSans-Medium.ttf) format("truetype");
}

body {
  background-color: #393e46;
  color: #222831;
  font-family: "Pontano Sans";
}

/* from https://kittygiraudel.com/snippets/sr-only-class/ */
.visuallyHidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.buttonLink {
  border: none;
  background: none;
  padding: 0;
  display: flex;
  text-decoration: underline;
  cursor: pointer;
  align-items: center;
  gap: 0.2rem;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  text-align: left;
}

.buttonLink-tight {
}

.buttonLink:hover {
}

.buttonIcon {
  width: 1rem;
  height: 1rem;
  margin-bottom: 1px;
}

:root {
  --accent: #ffd369;
  --light: #eeeeee;
  --dark: #393e46;
  --very-dark: #222831;
  --header-font: Bevan, monospace;
}

h2 {
  border-bottom: 5px solid var(--very-dark);
  color: var(--accent);
  font-family: var(--header-font);
  font-size: 2rem;
  font-weight: normal;
  line-height: 2rem;
  margin-bottom: 1rem;
  margin-right: -1px;
  text-shadow: 3px 3px var(--very-dark);
}

@media (min-width: 45rem) {
  h2 {
  }
}
