@font-face {
  font-family: "Bevan";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Bevan-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Pontano Sans";
  font-style: light;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/PontanoSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Pontano Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/PontanoSans-Medium.ttf) format("truetype");
}

:root {
  --background: #f5f5f5;
  --text: #1a1a1b;
  --max-page-width: 1200px;
  --accent-color: #ffb300;
  --accent-color-2: #00d4ff;
  --border-color: #1a1a1b;
  --header-font: Bevan, monospace;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: "Pontano Sans";

  background-image: radial-gradient(
      circle,
      rgba(245, 245, 245, 1) 60%,
      rgba(245, 245, 245, 0.35) 100%
    ),
    radial-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 0);
  background-size: 100% 100%, 6px 6px;
}

/* from https://kittygiraudel.com/snippets/sr-only-class/ */
.visuallyHidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.buttonLink {
  border: none;
  background: none;
  padding: 0;
  display: flex;
  text-decoration: underline;
  cursor: pointer;
  align-items: center;
  gap: 0.2rem;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  text-align: left;
}

.buttonLink-tight {
}

.buttonLink:hover {
}

.buttonIcon {
  width: 1rem;
  height: 1rem;
  margin-bottom: 1px;
}

h2 {
  font-family: var(--header-font);
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}
