@font-face {
  font-family: "Chunk Five";
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url(/fonts/ChunkFive-Regular.woff2) format("woff2");
}

body {
  background-color: #393e46;
  color: #222831;
}

/* from https://kittygiraudel.com/snippets/sr-only-class/ */
.visuallyHidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.buttonLink {
  border: none;
  background: none;
  padding: 0;
  display: flex;
  text-decoration: underline;
  cursor: pointer;
  align-items: center;
  gap: 0.2rem;
  opacity: 0.7;
}

.buttonLink-tight {
}

.buttonLink:hover {
  color: #54400d;
}

.buttonIcon {
  width: 1rem;
  height: 1rem;
  margin-bottom: 1px;
}

:root {
  --accent: #ffd369;
  --light: #eeeeee;
  --dark: #393e46;
  --very-dark: #222831;
  --header-font: Bevan, monospace;
}

h2 {
  background-color: var(--dark);
  border-bottom: 5px solid var(--very-dark);
  color: var(--accent);
  font-family: var(--header-font);
  font-size: 2rem;
  font-weight: normal;
  line-height: 2rem;
  margin-bottom: 2rem;
  margin-right: -2px;
  padding-top: 1rem;
  position: sticky;
  text-shadow: 3px 3px var(--very-dark);
  text-transform: lowercase;
  top: 0;
  z-index: 10;
}

@media (min-width: 45rem) {
  h2 {
    line-height: 4.2rem;
    font-size: 5rem;
  }
}
