body {
  background-color: rosybrown;
  background-color: #8b8373;
  background-color: #393e46;
  color: #222831;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 1470px;
  margin: 0 auto;
  gap: 2rem;
}

.events {
  flex-grow: 1;
}

.desktopSearch {
  display: none;
  margin-top: 23rem;
}

.mobileSearch {
  margin-bottom: 1rem;
}

.menu {
  display: flex;
  flex-direction: column;
}

@media (min-width: 45rem) {
  .content {
    flex-direction: row;
    align-items: flex-start;
  }

  .mobileSearch {
    display: none;
  }

  .desktopSearch {
    display: block;
  }
}
