body {
  background-color: #393e46;
  color: #222831;
}

.content {
  max-width: 1470px;
  margin: 0 auto;
  gap: 2rem;
}

.events {
  flex-grow: 1;
}

@media (min-width: 45rem) {
  .content {
    flex-direction: row;
    align-items: flex-start;
  }
}
