body {
  background-color: #393e46;
  color: #222831;
}

select {
  /* background-color: #fff; */
}

.content {
  max-width: 1470px;
  margin: 0 auto;
  gap: 2rem;
}

.events {
  flex-grow: 1;
}

.desktopSearch {
  display: none;
  margin-top: 23rem;
}

.mobileSearch {
  margin-bottom: 1rem;
  position: sticky;
  bottom: 0;
  z-index: 100;
}

.header {
  color: #eee;
  text-shadow: 3px 3px var(--very-dark);
  margin-top: 2rem;
}

.menu {
  display: flex;
  flex-direction: column;

  margin-top: 2rem;
  padding: 1rem;
  border: 5px solid #222831;
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 5px 5px 0 #ffd369;
}

@media (min-width: 45rem) {
  .content {
    flex-direction: row;
    align-items: flex-start;
  }

  .desktopSearch {
    display: block;
  }

  .header {
  }
}
