.day {
  margin-bottom: 2rem;
}

.dateContainer {
  border-bottom: 2px solid goldenrod;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  position: sticky;
  top: -1px;
  background-color: #fff;
}

.date {
  display: flex;
  gap: 1rem;
}

.actualDate {
  color: #686868;
}

.events {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (min-width: 45rem) {
  .day {
    display: flex;
    gap: 1rem;
  }

  .dateContainer {
    border-bottom: none;
    border-right: 2px solid goldenrod;
    flex: 0 0 10rem;
    margin-bottom: 0;
    padding-right: 1rem;
    text-align: right;
  }

  .date {
    display: block;
    position: sticky;
    top: 1rem;
  }

  .actualDate {
    font-size: 0.8rem;
  }
}
