.day {
  margin-bottom: 2rem;
}

.actualDate {
  color: #686868;
}

.events {
  columns: 25rem;
  column-gap: 2rem;
  flex-grow: 1;
}

.header {
  /* margin-top: 10rem; */
}

.name {
  /* margin-top: 10rem; */
}

.dateContainer {
  background-color: var(--dark);
  position: sticky;
  top: 0;
  z-index: 10;
  padding-top: 1rem;
}

.date {
  line-height: 2rem;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
  color: var(--accent);
  text-transform: lowercase;
  border-bottom: 5px solid var(--very-dark);
  text-shadow: 3px 3px var(--very-dark);
  font-family: var(--header-font);
  font-weight: normal;
  margin-right: -2px;
}

@media (min-width: 45rem) {
  .day {
  }

  .header {
  }

  .date {
    line-height: 4.2rem;
    font-size: 5rem;
  }

  .actualDate {
    font-size: 0.8rem;
  }
}
