.event {
  margin-bottom: 2rem;
  margin-right: 5px;
  break-inside: avoid-column;
  box-shadow: 5px 5px 0 #ffd369;
  padding: 1rem;
  border: 5px solid #222831;
  background-color: #eee;
  border-radius: 10px;
  transition: all 100ms ease-in-out;

  position: relative;
}

.event:focus-within {
  /* transform: translate(-5px, -5px); */
  /* box-shadow: 10px 10px 0px 0px var(--accent) !important; */
}

.actions {
  display: flex;
  gap: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

.poster {
  max-height: 600px;
  width: 100%;
  border: 5px solid #222831;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.details {
}

/* https://inclusive-components.design/cards/ */
.mainLink::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media (min-width: 45rem) {
  .event {
    /* margin-right: 0; */
  }
}
