.event {
  margin-bottom: 1rem;
  margin-right: 5px;
  break-inside: avoid-column;
  box-shadow: 2px 2px var(--border-color);
  border: 1px solid var(--border-color);
  background-color: #fff;
  transition: all 100ms ease-in-out;

  position: relative;
}

/* TODO give it a little delay? */
.event:target {
  animation-duration: 5s;
  animation-name: highlight;
  animation-iteration-count: 1;
}

@keyframes highlight {
  from {
    background-color: #ffe29c;
  }

  to {
    background-color: var(--light);
  }
}

.actions {
  display: flex;
  gap: 0 1rem;
  color: rgba(0, 0, 0, 0.6);
  flex-wrap: wrap;
  margin-top: 0.25rem;
}

.poster {
  max-height: 600px;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

.details {
  margin: 0.5rem;
}

.location {
  background-color: var(--accent-color);
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.666rem;
  padding: 0.1rem 0.5rem;
  font-weight: bold;
  margin-bottom: 0.333rem;
}

.title {
  margin-bottom: 0.5rem;
}

/* https://inclusive-components.design/cards/ */
.mainLink::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
