.feedSummary {
}

.header {
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: var(--light);
  margin-bottom: 0.25rem;
}

.list {
  list-style-type: none;
  padding: 0;
}

.feed {
  margin-bottom: 0.5rem;
  line-height: 1.1rem;
  display: flex;
  gap: 0.5rem;
}

.link {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: 600px) {
  .feedSummary {
    display: none;
  }
}
