.header {
  display: flex;
  align-items: baseline;
}

.link {
  margin: 2rem 0;
  display: inline-block;
}

.link:visited {
  color: inherit;
}

.name {
  border-right: 4px solid goldenrod;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}

.menu {
  flex-grow: 1;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: flex-end;
  color: #000;
  gap: 1rem;
}

.addEvent {
  background-color: #efd595;
  margin-top: 2rem;
  padding: 1rem;
  text-align: center;
}

.addEventLink {
  margin-left: 1rem;
  color: #1942a7;
  text-decoration: underline;
}

@media (min-width: 45rem) {
  .name {
    border-right: 2px solid goldenrod;
    width: 10rem;
    text-align: right;
    display: inline-block;
  }
}
