.topBar {
  padding: 1rem 1rem;
  text-align: center;
}

.topBarContent {
  max-width: var(--max-page-width);
  margin: 0 auto;
}

.header {
  color: var(--border-color);
  font-family: var(--header-font);
  font-weight: normal;
  font-size: 1.666rem;
  line-height: 1.666rem;
}

.menu {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.link {
  border: 1px solid var(--border-color);
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  text-decoration: none;
  box-shadow: 2px 2px var(--border-color);

  background: var(--accent-color);
  cursor: pointer;
  transition: transform 0.1s ease;

  position: relative;
}

.link:hover,
.activeLink {
  transform: scale(1.05) rotate(-1deg);
  filter: brightness(1.1);
}

.link,
.link:visited {
  line-height: 1.3rem;
}
