.links {
}

.header {
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: var(--light);
  margin-bottom: 0.25rem;
}

.description {
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  .links {
    display: none;
  }
}
