.list {
  list-style-type: none;
  padding: 0;
}

.list-item {
  margin-bottom: 0.5rem;
  line-height: 1.1rem;
  display: flex;
  gap: 0.5rem;
}

.icon {
  width: 0.8rem;
  opacity: 0.8;
}

.icon-weird {
  width: 0.8rem;
  opacity: 0.8;
  margin-top: 0.1rem;
}
