.searchFields {
  width: 300px;
  text-align: left;
  display: inline-block;
  transition: all 200ms ease-in-out;
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  z-index: 100;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 10px;

  padding: 1rem;
  background-color: var(--light);
  border: 5px solid var(--very-dark);
  border-radius: 10px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.searchButton {
  transition: all 200ms ease-in-out;
  background-color: var(--accent);
  border: 5px solid var(--very-dark);
  border-radius: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  padding: 0.5rem;
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  z-index: 100;
}

@media (min-width: 45rem) {
  .searchFields {
    right: 2rem;
    bottom: 2rem;
  }

  .searchButton {
    right: 2rem;
    bottom: 2rem;
  }
}
