.search {
  padding: 1rem;
  background-color: var(--light);
  border: 5px solid var(--very-dark);
  border-radius: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.extraActions {
  margin-left: auto;
}
