.search {
  background-color: #ededed;
  padding: 0.5rem;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.extraActions {
  flex-grow: 1;
  text-align: right;
}

@media (min-width: 45rem) {
  .field {
    max-width: 10rem;
  }
}
