.search {
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.extraActions {
  margin-left: auto;
}

.input {
  border: 2px solid var(--very-dark);
  border-radius: 5px;
  height: 35px;
}

.label {
  font-size: 0.8rem;
  font-weight: 300;
}

.header {
  font-size: 1.3rem;
  line-height: 1.5rem;
  color: var(--light);
  margin-bottom: 0.25rem;
}

@media (max-width: 600px) {
  .search {
    display: flex;
    gap: 0 1rem;
    flex-wrap: wrap;
  }

  .field {
    flex-grow: 1;
    flex-basis: 200px;
  }
}
